.register {
    height: fit-content;
    background: rgb(240 240 240);
    display: flex;
    align-items: center;
    justify-content: center;
}
.register .card {
    height: 95vh;
    width: 70%;
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    border-radius: 10px;
    min-height: 600px;
}
.register .card .left {
    flex: 1;
    background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)), url("https://images.pexels.com/photos/4881619/pexels-photo-4881619.jpeg?auto=compress&cs=tinysrgb&w=1600") center;
    background-size: cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
    color: white;
}
.register .card .left h1 {
    font-size: 60px;
    line-height: 100px;
}
.register .card .left span {
    font-size: 14px;
}
.register .card .left button {
    width: 50%;
    padding: 10px;
    border: none;
    background-color: white;
    color: rebeccapurple;
    font-weight: bold;
    cursor: pointer;
}
.register .card .right {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.register .card .right h1 {
    color: #555;
}
.register .card .right form {
    display: flex;
    flex-direction: column;
}
.register .card .right form input {
    border: none;
    margin: 2px;
    border-bottom: 1px solid lightgray;
    padding: 15px 10px;
}
.register .card .right form button {
    width: 50%;
    padding: 10px;
    border: none;
    background-color: #938eef;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.register .container{
    margin-top: 55px;
    width: 100vw;
    height: 92vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}
.login-content::-webkit-scrollbar {
    display: none;
  }
  .register .login-content .id{
    width: 100%;
    display: flex;
    margin-top: 50px;
    /* margin: 0 10px; */
  }
  .register .login-content .input-div-outer{
    width: 100%;
    margin: 0 10px;
  }
  .register .login-content .input-div-inner{
    width: 100%;
    margin: 0 10px;
  }