.friends{
    background-color: rgb(240 240 240);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* margin-top: 50px; */
}
.friends .left{
    width:50%;
}
.friends .left .head{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.friends .inner{
    width: 50%;
    margin: auto;
    background-color: #a3a3a3;
    padding: 20px;
    border-radius: 5px;
}
.friends .right .head{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.friends .right .head h1{
    color: black;
}
.friends .left .head h1{
    color: black;
}



.friends .right{
    width:50%;
}
.friends  .card .name{
    display: flex;
    justify-content: center;
    font-weight: 100;
    color: black;
    padding: 10px;
    align-items: center;
}
.friends .card{
    margin: 10px;
    display: flex;
    background: white;
    padding: 2px;
    border-radius: 5px;
}