*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&family=Poppins&display=swap');

.profile{
    background-color: #f8f8f8;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile .edit{
    margin: 4px;
    background-color:black;
    border-radius: 5px;
    padding: 5px 10px;
}

.profile .edit .anchor{
    text-decoration: none;
    color: #ffffff;
}

.profile .card1{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #ffffff;
    height: 60vh;
    border-radius: 10px;
}
.profile .card1 .left{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
}
.profile .card1 .right{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
}
.profile .card1 .right .education h2{
    padding: 15px 0px;
    color: rgb(120,102,184);
    font-family: 'Poppins', sans-serif;
}
.profile .card1 .right .education p{

    font-family: 'Poppins', sans-serif;
}
.profile .card1 .right .skills p{

    font-family: 'Poppins', sans-serif;
}

.profile .card1 .right .skills h2{
    padding: 15px 0px;
    color: rgb(120,102,184);
    font-family: 'Poppins', sans-serif;
}
.profile .card1 .left .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
}
.profile .card1 .left .pic{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.profile .card1 .left img{
    width:60%;
    border-radius: 30px;
}
.profile .card2{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 1px solid red;
    height: 80vh;
}
.profile .card2 .left{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
}
.profile .card2 .right{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
}
.profile .card2 .left .info{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
}
.profile .card2 .left .pic{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.profile .card2 .left img{
    width:70%;
    overflow: hidden;
}