.home{
    color:black;
    display:flex;
    justify-content: center;
    background: rgb(42, 36, 36);
}
.home .feed{
    width: 65%;
    margin: 50px 0;
    background-color: #a3a3a3;    
    padding: 20px 0;
}
.home .feed .share{
    margin: 0 0 30px 0;
    box-shadow: 0px 0px 16px -8px;
    background-color: rgb(240,240,240);
    border-radius: 6px;
    /* border: 2px solid olive; */

}
