.contest{
    background-color: rgb(42, 36, 36);
    margin-top:50px;
}
.contest h1{
    color:white;
    padding: 20px;
    display:flex;
    justify-content:center;
    align-items: center;
}
.contest table{
    background-color: rgb(240 240 240);
    margin: auto;
    width: 90%;
    padding: 20px;
}
.contest table tbody tr td{
   text-align: center;
   padding: 20px;
   color: black;
}
.contest table thead th { 
    border-bottom: 2px solid #000;
    font-size: 24px;
    padding-bottom: 8px;
    font-weight: 400;
}