.contest{
    background-color: rgb(42, 36, 36);
}
.contest h1{
    color:white;
    padding: 20px;
    display:flex;
    justify-content:center;
    align-items: center;
}
.contest table{
    background-color: white;
    margin: auto;
    width: 90%;
    padding: 20px;
}