.temp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 40px; */
    background: black;
    height: 100vh;
}
.temp .upper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px 40px;
}
.temp .upper span{
    font-size: 2em;
    font-weight: 500;
    color: #36b636;
}
.temp .lower{
    display: flex;
    justify-content: center;
    align-items: center;
}
.temp .lower .left a{
    text-decoration: none;
    padding: 10px 30px;
    font-size: 20px;
    /* font-family: sans-serif; */
    color: black;
    border-radius: 10px;
    margin: 10px;
    border: 2px solid black;
    display: inline-block;
    /* padding: 6px 12px; */
    cursor: pointer;
    border-radius: 15px;
    background-color: rgb(240,240,240);

}
.temp .lower .left a:hover{
    background-color: white;
    color: black;
}
.temp .lower .right a{
    text-decoration: none;
    padding: 10px 30px;
    font-size: 20px;
    /* font-family: sans-serif; */
    color: black;
    border-radius: 10px;
    margin: 10px;
    border: 2px solid black;
    display: inline-block;
    /* padding: 6px 12px; */
    cursor: pointer;
    border-radius: 15px;
    background-color: rgb(240,240,240);
}
.temp .lower .right a:hover{
    background-color: white;
    color: black;
}