*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&family=Poppins&display=swap');

/* /////// */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: black;
    cursor:pointer;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  /* ////// */
.profile{
    /* background-color: #f8f8f8; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(42, 36, 36);
    margin-top: 50px;

}

.profile .left .edit1{
  /* background-color: rgb(51,190,143);
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  margin: 10px 0px 0px 0px;
  align-items: center;
  width: 100%;
  justify-content: center;
  cursor: pointer; */
  width: 100%;
  margin: 10px 0px 0px 0px;
  border-radius: 5px;
}

.profile .anchor{
  text-decoration: none;
  color: black;
  text-align: center;
  margin: 10px 0px 0px 0px;
  /* width: 90%; */
  /* background-color: rgb(51,190,143); */
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid black;
  display: inline-block;
  padding: 3px 30px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(240,240,240);
}
.profile .anchor:hover{
  background-color: white;
  color: black;
}

.profile .card1{

    width: 90%;
    /* background-color: rgb(195 217 210); */
    background-color: rgb(240 240 240);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    /* border: 1px solid red; */
    height: 60vh;
    border-radius: 10px;
}
.profile .card1 .left{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
}
.profile .card1 .left .inner-info h2{
    margin: 5px 0;
    color: rgb(42, 36, 36);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
}
.profile .card1 .left .inner-info p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.profile .card1 .left .inner-info .content{
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  /* width:90%; */
}
.profile .card1 .right{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
}
.profile .card1 .right .inner-right{
  width: 95%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background: rgb(240,240,240);
    padding: 10px;
    border-radius: 5px;
}
.profile .card1 .right .education h2{
    margin: 5px 0px;
    color:rgb(42, 36, 36);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.profile .card1 .right .education p{
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 20px;

}
.profile .card1 .right .skills{
display:flex;
flex-direction:column;
width:50%
}
.profile .card1 .right .education{
  display:flex;
  flex-direction:column;
  width:50%
  }
  

.profile .card1 .right .skills p{

    font-family: 'Poppins', sans-serif;
}

.profile .card1 .right .skills h2{
  text-align: center;
    margin: 5px 0px;
    color: rgb(42, 36, 36);
    font-family: 'Poppins', sans-serif;
}
.profile .card1 .left .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 65%;
   
}
.profile .card1 .left .pic{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.profile .card1 .left img{
    width:75%;
    border-radius: 30px;
}
.profile .card2{
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: #a3a3a3;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 60vh;
    border-radius: 10px;
    margin: 30px auto;
}
.profile .card2 .head
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.profile .card2 .head img
{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width:20%;

}
.profile .card2 .content{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(240,240,240);
}
.profile .card2 .content .left{
width: 50%;
margin: 0 10%;
}
.profile .card2 .content .left p{
    font-size: 20px;
    font-weight: 600;
    font-family: poppins;
}
.profile .card2 .content .left span{
    font-size: 20px;
    font-weight: 300;
    font-family: poppins;
    margin:0 10px;
}
.profile .card2 .content .right{
   width: 50%;
}
.profile .card2 .content .right h3{
    font-size: 20px;
    font-weight: 600;
    font-family: poppins;
 }
 .profile .card2 .content .right .outer{
    list-style-type: none;
    font-size: 20px;
    font-weight: 300;
    font-family: poppins;
 }
 .profile .card3{
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: rgb(189, 230, 189);
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 60vh;
    border-radius: 10px;

    margin: 30px auto;
}
.profile .card3 .head
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3%;

}
.profile .card3 .head img
{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width:70%;

}
.profile .card3 .content{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile .card3 .content .left{
width: 50%;
margin: 0 10%;
}
.profile .card3 .content .left p{
    font-size: 20px;
    font-weight: 600;
    font-family: poppins;
}
.profile .card3 .content .left span{
    font-size: 20px;
    font-weight: 300;
    font-family: poppins;
    margin:0 10px;
}
.profile .card3 .content .right{
   width: 50%;
}
.profile .card3 .content .right h3{
    font-size: 20px;
    font-weight: 600;
    font-family: poppins;
 }
 .profile .card3 .content .right .outer{
    list-style-type: none;
    font-size: 20px;
    font-weight: 300;
    font-family: poppins;
 }

 .profile .card3{
  width: 90%;
  display: flex;
  flex-direction: column;
  background-color: #a3a3a3;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 60vh;
  border-radius: 10px;

  margin: 30px auto;
}
.profile .card3 .head
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3%;

}
.profile .card3 .head img
{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width:70%;

}
.profile .card3 .content{
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(240,240,240);
}
.profile .card3 .content .left{
width: 50%;
margin: 0 10%;
}
.profile .card3 .content .left p{
  font-size: 20px;
  font-weight: 600;
  font-family: poppins;
}
.profile .card3 .content .left span{
  font-size: 20px;
  font-weight: 300;
  font-family: poppins;
  margin:0 10px;
}
.profile .card3 .content .right{
 width: 50%;
}
.profile .card3 .content .right h3{
  font-size: 20px;
  font-weight: 600;
  font-family: poppins;
}
.profile .card3 .content .right .outer{
  list-style-type: none;
  font-size: 20px;
  font-weight: 300;
  font-family: poppins;
}



.profile .skills h3 span{
  font-weight: 100;
}
.profile .card4{
  width: 90%;
  display: flex;
  flex-direction: column;
  background-color: #a3a3a3;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 60vh;
  border-radius: 10px;

  margin: 30px auto;
}
.profile .card4 .head
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;

}
.profile .card4 .head img
{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width:50%;

}
.profile .card4 .content{
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240,240,240);
}
.profile .card4 .content .left{
width: 50%;
margin: 0 10%;
}
.profile .card4 .content .left p{
  font-size: 20px;
  font-weight: 600;
  font-family: poppins;
}
.profile .card4 .content .left span{
  font-size: 20px;
  font-weight: 300;
  font-family: poppins;
  margin:0 10px;
}
.profile .card4 .content .right{
 width: 50%;
}
.profile .card4 .content .right h3{
  font-size: 20px;
  font-weight: 600;
  font-family: poppins;
}
.profile .card4 .content .right .outer{
  list-style-type: none;
  font-size: 20px;
  font-weight: 300;
  font-family: poppins;
}

 /* LOADER */
 body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000;
  }
  .middle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .bar {
    width: 10px;
    height: 70px;
    background: #fff;
    display: inline-block;
    transform-origin: bottom center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    /*   box-shadow:5px 10px 20px inset rgba(255,23,25.2); */
    animation: loader 1.2s linear infinite;
  }
  .bar1 {
    animation-delay: 0.1s;
  }
  .bar2 {
    animation-delay: 0.2s;
  }
  .bar3 {
    animation-delay: 0.3s;
  }
  .bar4 {
    animation-delay: 0.4s;
  }
  .bar5 {
    animation-delay: 0.5s;
  }
  .bar6 {
    animation-delay: 0.6s;
  }
  .bar7 {
    animation-delay: 0.7s;
  }
  .bar8 {
    animation-delay: 0.8s;
  }
  
  @keyframes loader {
    0% {
      transform: scaleY(0.1);
      background: ;
    }
    50% {
      transform: scaleY(1);
      background: yellowgreen;
    }
    100% {
      transform: scaleY(0.1);
      background: transparent;
    }
  }
/* LOADER   */

.rightinner button {
  border: 2px solid black;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(240,240,240);
  margin:10px;
}
.rightinner .btns{
  margin-left: 0;
}
.rightinner button:hover{
  background-color: white;
  color: black;
}