
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background:black;
    
}

.navbar .left{
    border: 2px blue solid;
    width: 70%;
}

.navbar .right{
    /* border: 2px red solid; */
    width:30%;
}

.navbar .outer{
    list-style-type: none;
    font: 1em  sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .left .inner{
    margin: auto;
    border: 8px;
    border-color: aqua;
    cursor: pointer;
}
.navbar .left .inner a{
    color:white;
    text-decoration: none;
}
