
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    border: 2px blue solid;
    width: 70%;
}

.right{
    /* border: 2px red solid; */
    width:30%;
}

.outer{
    list-style-type: none;
    font: 1em  sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left .inner{
    margin: auto;
    border: 8px;
    border-color: aqua;
    cursor: pointer;
}
.left .inner a{
    color: black;
    text-decoration: none;
}
